<%- include('header') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mt-3 mb-5">
      <img src="../assest/404.png" alt="">
    </div>
  </div>
</div>
<%- include('footer') %>