    <footer>
        <div class="container-fluid mt-auto my-footer">
            <div class="row justify-content-center">
                <div class="col-2 text-center"> <span class="fw-bold">關於我們</span>
                    <ul class="nav flex-column text-light">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product/all">抱歉錢錢</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/user/upload">酷東西</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-center"><span class="fw-bold">關注錢錢</span>
                    <ul class="nav flex-column text-light">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.facebook.com/xu.y.cheng.3">Facebook</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/fish123333/">instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-center"><span class="fw-bold">聯絡錢錢</span>
                    <ul class="nav flex-column text-light">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="tel:+8860922889103">聯絡電話</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="mailto:fish1233333@gmail.com?subject=【抱歉錢錢】拍賣網站反應">電子信箱</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-center"><span class="fw-bold">友站連結</span>
                    <ul class="nav flex-column text-light">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://stocomm.site/">StoComm</a>
                        </li>
                    </ul>
                </div>
            
            </div>
            <div class="text-center py-5">
                ® 2021 Sorry My Wallet. All rights reserved.
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel=stylesheet type="text/css" href="../css/footer.css">
  
</body>