<%- include('header') %>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2 ms-3 align-self-end">
        <ul class="nav nav-tabs"></ul>
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">排序</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="row products-container">
      </div>
    </div>
  </div>





  <script src="/socket.io/socket.io.js"></script>
  <script src="../javascript/product_index.js"></script>
  <link rel=stylesheet type="text/css" href="../css/product_index.css">
<%- include('footer') %>
