<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" , href="../css/product_details.css" />
    <title>Product page</title>
</head>
<body>
    <div id="middle-wrapper">
        <div id="back-button"><a href="../">back</a></div>
        <div id="category"></div>
        <div class="top">

            <div class="left">
                <div id="product-id"></div>
                <div class="images">
                    <img id="main-image">
                </div>
                <div id='image-button'>
                    <button class="slick-next slick-arrow"> <===</button>
                    <div class="images-container"></div>
                    <button class="slick-previous slick-arrow"> ===></button>
                </div>
            </div>

            <div class="right">
                <div id="product-title"></div>
                <div id="brand"></div>
                <div class="count-down">
                    <h1 id="count-down-number"></h1>
                </div>

                <div id="highest-bid-container">
                    <h2 class='bid-number'>目前出價：<span class="current-bid"></h1>
                </div>

                <div class="message-container"></div>
                
                <div class="bid-form-container">
                    <form id="bid-form">
                        <input id="bid-enter" type="number" value="100" placeholder="Enter number" autocomplete="off"/>
                        <button id="bid-button">Bid!!!</button>
                    </form>
                    <div id="bid-incr"></div>
                    <div id="bid-times"></div>
                    <div id="seller-id"></div>
                </div>


                <div class="bid-room"></div>
            </div>

        </div>
        <div class="information">
            <div id="description"></div>
            <div id='texture'></div>
            <div id="condition"></div>
            <div id="original-packaging"></div>
            <div id="with-papers"></div>
            <div id="place"></div>
            <div id="note"></div>
        </div>
        <div id="story"></div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.js" integrity="sha512-DkxSbrm2xe6jcerSwLA4vS8WV7UarP44UjrS+Yp2MRFE2md2qPLpZVTyoxHrM2mvZ2Ft2zhPUMplV20zNFXriQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../javascript/product_details.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascript/bid_server.js"></script>
</body>