<%- include('header') %>
  
      <div class="row justify-content-center py-0 my-row">
        <div class="col-3 align-middle my-row">
          <div class="align-middle">
            <div class="row justify-content-between">
              <h3 class="text-center my-3">登入</h3>
            </div>
            <form>
              <div class="form-floating rounded-top mb-3">
                <input type="email" class="form-control my-email" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput-2">請輸入Email</label>
              </div>
              <div class="form-floating rounded-bottom mb-3">
                <input type="password" class="form-control my-password" id="floatingPassword" placeholder="Password" name='password'>
                <label for="floatingPassword-3">請輸入密碼</label>
              </div>
              <button class="w-100 btn btn-lg btn-warning my-button mt-3" type="submit">Sign in</button>
            </form>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active fs-5" aria-current="page" href="/user/signup">還不是會員嗎?</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  <script src="../javascript/user_signin.js"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <link rel=stylesheet type="text/css" href="../css/user_signin.css">
<%- include('footer') %>