<%- include('header') %>
        <div class="row justify-content-center main-area">

            <div class="col-4 sign-block">
                <div class="row justify-content-center div-avatar">
                    <div class="col">
                        <img class="avatar">
                    </div>
                </div>

                <div class="div-name">
                    <h2 class="user-name"></h2>
                </div>

                <div class="div-email">
                    <h2 class="user-email">Email</h2>
                </div>

                <div class="logout-area">
                    <input type="submit" class="logout" value="登出">
                </div>

            </div>


    </div>

    <script src="../javascript/user_profile.js"></script>
<%- include('footer') %>