<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Sorry My Wallet</title>
</head>
<body>
    <form>
  
        <h2>登入</h2>
  
        <div class="input">
          <input
            class="enter-email"
            type="text"
            name="email"
            placeholder="請輸入Email"
          />
        </div>
  
        <div class="input">
          <input
            class="enter-password"
            type="password"
            name="password"
            placeholder="請輸入密碼"
          />
        </div>
  
        <div class="button-area">
          <input type="submit" class="signin" value="登入" />
        </div>
  
        <div class="input">
          <a href="/user/signup">還不是會員嗎?</a>
        </div>
      </form>
  </div>
</body>
    
  <script src='../javascript/user_signin.js'></script>