<%- include('header') %>
  
      <div class="row justify-content-center my-row">
        <div class="col-3 align-middle my-row">
          <div class="align-middle">
            <div>
              <h1 class="h3 mb-3 fw-normal text-center">登入</h1>
            </div>
            <form>
              <div class="form-floating rounded-top">
                <input type="email" class="form-control my-email" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput-2">請輸入Email</label>
              </div>
              <div class="form-floating rounded-bottom">
                <input type="password" class="form-control my-password" id="floatingPassword" placeholder="Password" name='password'>
                <label for="floatingPassword-3">請輸入密碼</label>
              </div>
              <div class="checkbox mb-3 text-center mt-3 pe-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>

                <div id="status">
                </div>
              <button class="w-100 btn btn-lg btn-warning my-button" type="submit">Sign in</button>
            </form>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active fs-5" aria-current="page" href="/user/signup">還不是會員嗎?</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  <script src="../javascript/user_signin.js"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <link rel=stylesheet type="text/css" href="../css/user_signin.css">
<%- include('footer') %>