html,body{
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

img{
    object-fit: cover;
}

a{
    text-decoration: none;
}

.navbar {
    height: 48px;
}

#my-logo {
    height: 100%;
    width: 100%;
}

.my-button{
    width: 100px;
}

.my-button-lg {
    width: 125px;
}

#logout-button, #like-button, #bade-button{
    display: none;
}

/* .container {
    height: 100%;
} */

.main-row {
    background: #FFFFFF;
}

/* Make the hover dropdown instead of click */
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

#main-container{
    min-height: 500px;
}

.home-avatar {
    width: 36px;
    height: 36px;
    background-position: center center;
    background-size: cover;
}

.swal-wide{
    width:850px !important;
}

.swal2-shown {
    padding: 0px !important;    
}

@media (max-width: 1300px) {
    .productItem {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  
    .products-container {
      padding-left: 70px !important;
    }

    .my-button{
        width: 80px !important;
    }

    .header-nav{
        margin-right: 0px !important;
        width: 100px !important;
    }
    
