html,body{
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

a{
    text-decoration: none;
}

#my-logo {
    height: 100%;
    width: 100%;
}

.my-button{
    width: 100px;
}
#logout-button{
    display: none;
}

/* .container {
    height: 100%;
} */

.main-row {
    background: #FFFFFF;
}

/* Make the hover dropdown instead of click */
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}