.my-img {
    width: 450px;
    height: 450px;
    /* background-position: center center;
    background-size: cover; */
}

.my-other-img {
    max-width: 32.5%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center center;
    background-size: cover;
}

.my-option-row {
    padding: 12px;
}

.my-input {
    height: 58px;
}

.my-sub-category{
    width: 100%;
}

.my-input-group{
    height: 58px;
}

.town, .city, .my-bank-select {
    background-color: #e9ecef;
    color: #333;
}