body, .container {
    /* background: #e6e6e6; */
}
.product-image {
    border:0;
    margin:0;
    padding:0px;
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: cover;
}

.seller-img{
    width: 30px;
    height: 30px;
}

.card-header{
    height: 50px;
    margin-bottom: 5px;
}

.card {
    border: 0px;
}

.card:hover{
    box-shadow: 2px 2px 2px lightgray;
    transform:scale(1.01);
}

@-webkit-keyframes yellow-fade {
    from {
      background: #e95420;
    }
    to {
      background: #fff;
    }
  }
  @-moz-keyframes yellow-fade {
    from {
      background: #e95420;
    }
    to {
      background: #fff;
    }
  }
  @keyframes yellow-fade {
    from {
      background: #e95420;
    }
    to {
      background: #fff;
    }
  }

  .fade-it {
    -webkit-animation: yellow-fade 1s ease-in-out 0s;
    -moz-animation: yellow-fade 1s ease-in-out 0s;
    -o-animation: yellow-fade 1s ease-in-out 0s;
    animation: yellow-fade 1s ease-in-out 0s;
  }