.main-image, .other-images {
    border:0;
    margin:0;
    padding:0;
    width: 450px;
    height: 688px;
    background-position: center center;
    background-size: cover;
}

#my-middle-wrapper {
    background: #e6e6e6;
    padding-bottom: 15px;
}

.my-back-button {
    background-color: #d17a22;
    background: #d17a22;
    border-style: none;
    
}

.my-back-link {
    text-decoration: none;
    font-size: 18px;
}

.main-container {
    background-color: #fff;
}

.carousel-inner {
    max-height: 100%;
}

.my-image {
    max-width: 600px;
    max-height: 100%;
}

.my-bid-input {
    background: #DDD;
}

.my-bid-button, .my-bid-button > a  {
    width: 100%;
    height: 50px;
    font-size: 24px;
}

.my-bid-warning {
    color: red;
}
