.my-img {
    width: 450px;
    height: 450px;
    /* background-position: center center;
    background-size: cover; */
}

.my-other-img {
    width: 144.25px;
    height: 145px;
    padding: 0px;
    margin: 0px;
    background-position: center center;
    background-size: cover;
}

.my-option-row {
    padding: 12px;
}

.my-input {
    height: 58px;
}

.my-sub-category{
    width: 100%;
}

.my-input-group{
    height: 58px;
}