.avatar {
    width: 100px;
    height: 100px;
}

.city, .town {
    width: 150px;
}

.my-bank-select {
    width: 100%;
}

.my-div {
    margin-top: auto;
    margin-bottom: 5px;
}

.select2-container .select2-choice, .select2-result-label {
    font-size: 1.5em;
    height: 41px; 
    overflow: auto;
}
  
.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 100px !important;
}

.my-card {
    height: 310px;
}

.my-bank-button, .change-bank-button {
    margin-top: 15px;
}

.my-nav-item {
    width: 165px;
}

.my-img-div {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
}

.card-body{
    width: 100%;
}

.my-list-container {
    min-height: 300px;
}
/* .my-card-row{
    width: 1140px;
} */